## IDE stuff ##

.vscode/

.settings/
.project
.cproject


## Rust stuff ##

# Cargo
target/

# rustfmt
**/*.rs.bk


## CMake stuff ##

CMakeCache.txt
*.cmake

Makefile

CMakeFiles/
build/


## C++ stuff ##

# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug/


## Testing stuff ##

brouwer

*.bwr
*.brouwer
